body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 40px;
    margin-bottom: 70px;
}
p{  
    font-size: 15px;
    margin-bottom: 70px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: radial-gradient(orange,tomato);
    padding: 20px 50px;
    margin-bottom:50%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgb(197, 195, 191);
}
#first-pic{
    width: auto;
    height: 500px;
}
#second-pic{
    width: auto;
    height: 400px;
    padding-left: 20%;
    padding-top: 5%;
}
.back-image{
    background-image: url(images/7.png);
    background-size: cover;

  
}
.about-me{
    width: 50%;
    color: gray;
    padding-right: 20%;
    padding-left: 5%;
    
    
}
#my-receipes{
    color: gray;
    font-size: 24px;
    text-align: center;
}
.receipe-box{
    width: 23%;
    height: 450px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px gray;
    font-weight: 700;
    text-align: center;


}
.rcp-pic{
    height: 200px;
    width: 265px;
    padding-top: 5%;
    
}
footer{
    text-align: center;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 5%;
}
.orange-color{
    color: orange;
}
.top-sell-box{
    width: 20%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px 30px gray;
    border-color:black;
}
.top-pics{
    height: 200px;
    width: 250px;
    padding-top: 6%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
}
.top-sell-back{
    background-image: url(images/Frame\ 59.jpg);
    height: 400px;
}
.top-names{
    color: gray;
    text-align: center;
}
.more-button{
    text-decoration: none;
    color: orange;
    background-image: radial-gradient(black);
    padding: 20px 50px;
    margin-bottom:25%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgb(197, 195, 191);
}